.item {
    width: 140px;
    box-shadow: 0px 4px 4px 4px rgba(0, 185, 185, 0.649);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
}
.item:hover,
.item:focus {
    box-shadow: 0px 10px 10px 4px #fad283;
}
.img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.title {
    text-align: center;
    font-size: 18px;
    color: #fad283;
}
.text {
    text-align: center;
    font-size: 14px;
}
.scroll__up {
  position: fixed;
  right: 6%;
  bottom: 2.5%;
  z-index: 2;

  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #fad283;
  border-radius: 50%;
  opacity: 1;
  border: none;
  color: rgb(33, 32, 43);
  cursor: pointer;
}
.scroll__up:hover, 
.scroll__up:focus {
    background: transparent;
    border: 2px dotted #fad283;
    color: #fad283;
}