.searchForm {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 280px;
    border: 1px dotted #fad283;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 120px;
    margin-top: 60px;
    margin-bottom: 40px;
}
.search__btn {
    display: inline-block;
    width: 40px;
    height: 36px;
    border: 0;
    background-image: url('/public/search.png');
    background-color:#fad283;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    outline: none;
}
.search__label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}
.searchForm__input {
    padding-left: 10px;
    background: linear-gradient(135deg, #1e191f, #221025);
    display: inline-flex;
    width: 100%;
    font: inherit;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 2px 16px;
    color: #ffffff;
}
.searchForm__input::placeholder {
    font: inherit;
    font-size: 18px;
    color:#fad283;
}
